{
  "openapi": "3.1.0",
  "info": {
    "title": "Integration Recovery API",
    "version": "1.0.0",
    "description": "Detect auth, schema, webhook and rate-limit drift in third-party integrations and generate an ordered, machine-readable compatibility repair plan."
  },
  "servers": [
    {
      "url": "https://integrationrecovery-api.com"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Liveness and deployed version",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/": {
      "get": {
        "summary": "Service index — endpoints, auth and error format",
        "operationId": "get/",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/checks": {
      "post": {
        "summary": "Detect drift between two observations of an integration and generate a repair plan",
        "description": "Send a previous and a current snapshot of a third-party contract — response schema, auth requirements, webhook payloads and rate-limit headers — and get back every change classified as breaking, degraded or safe, plus an ordered repair plan. Classification turns on direction: a field added to a response is free, the same field added as required to a request rejects every call. Supply `usage` (scopes held, events subscribed, observed volume) and the engine can rule changes out; without it, it will not. Send one \"check\" or up to 50 in \"checks\" — billed one unit per check. Nothing is stored.",
        "operationId": "postV1Checks",
        "security": [
          {
            "apiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "breaking": {
                      "type": "integer",
                      "description": "How many of the checks came back with verdict \"broken\"."
                    },
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "integrationId": {
                            "type": "string"
                          },
                          "provider": {
                            "type": "string"
                          },
                          "verdict": {
                            "type": "string",
                            "enum": [
                              "compatible",
                              "degraded",
                              "broken"
                            ]
                          },
                          "summary": {
                            "type": "object",
                            "description": "Totals by severity, plus counts by code and by surface."
                          },
                          "changes": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "code": {
                                  "type": "string",
                                  "description": "Stable drift code. GET /v1/drift-types lists every one with its per-direction severity."
                                },
                                "surface": {
                                  "type": "string",
                                  "enum": [
                                    "endpoint",
                                    "request",
                                    "response",
                                    "auth",
                                    "webhook",
                                    "rate_limit",
                                    "pagination"
                                  ]
                                },
                                "direction": {
                                  "type": "string",
                                  "enum": [
                                    "outbound",
                                    "inbound"
                                  ],
                                  "description": "outbound: your client produces the value. inbound: the provider does. The same code flips severity between them."
                                },
                                "target": {
                                  "type": "string",
                                  "description": "The field path, scope, event name or endpoint the change lands on."
                                },
                                "container": {
                                  "type": "string",
                                  "description": "An endpoint label like \"POST /v2/orders\", a webhook event name, or null for auth and rate limits."
                                },
                                "breaking": {
                                  "type": "boolean",
                                  "description": "Equivalent to severity === \"breaking\". Branch on this."
                                },
                                "severity": {
                                  "type": "string",
                                  "enum": [
                                    "breaking",
                                    "degraded",
                                    "safe"
                                  ]
                                },
                                "from": {
                                  "type": "string"
                                },
                                "to": {
                                  "type": "string"
                                },
                                "detail": {
                                  "type": "string",
                                  "description": "Plain language, always stating why the direction produced this severity."
                                }
                              }
                            },
                            "description": "Breaking first, then degraded, then safe. Deterministic within a severity."
                          },
                          "repairPlan": {
                            "type": "object",
                            "description": "The ordered remediation. One step per breaking or degraded change; safe changes get none.",
                            "properties": {
                              "steps": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "change": {
                                      "type": "integer",
                                      "description": "Index into `changes` of the drift this repairs."
                                    },
                                    "action": {
                                      "type": "string",
                                      "description": "Machine-readable remediation. GET /v1/drift-types lists them all."
                                    },
                                    "phase": {
                                      "type": "string",
                                      "enum": [
                                        "auth",
                                        "routing",
                                        "outbound_schema",
                                        "inbound_schema",
                                        "webhook",
                                        "throughput"
                                      ]
                                    },
                                    "order": {
                                      "type": "integer",
                                      "description": "1-based. Apply in ascending order: auth before routing before schemas before throughput."
                                    },
                                    "target": {
                                      "type": "string"
                                    },
                                    "container": {
                                      "type": "string"
                                    },
                                    "confidence": {
                                      "type": "integer",
                                      "minimum": 0,
                                      "maximum": 100,
                                      "description": "How likely the repair is correct if applied exactly as described. An integer — 87.5 is a number nobody can defend."
                                    },
                                    "autoApplicable": {
                                      "type": "boolean",
                                      "description": "True only when applying it mechanically cannot lose information, change what you store, or weaken a security check. A repair can be high-confidence and still false here."
                                    },
                                    "requiresHuman": {
                                      "type": "string",
                                      "description": "Why a human is needed. Null when autoApplicable is true."
                                    },
                                    "parameters": {
                                      "type": "object",
                                      "description": "Machine-readable arguments for the action."
                                    },
                                    "detail": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "description": "Apply in ascending `order`."
                              },
                              "autoApplicable": {
                                "type": "integer",
                                "description": "Steps that can run without a human."
                              },
                              "requiresHuman": {
                                "type": "integer"
                              },
                              "fullyAutomatic": {
                                "type": "boolean",
                                "description": "True only when every step is auto-applicable."
                              },
                              "minConfidence": {
                                "type": "integer",
                                "description": "The weakest step in the plan. Null when there are no steps."
                              }
                            }
                          },
                          "rateLimit": {
                            "type": "object",
                            "description": "Exact integer analysis of the limit change against your observed volume, with the minimum interval and a backoff schedule. Null when neither snapshot declares a limit."
                          },
                          "sunsets": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            },
                            "description": "Every current endpoint with a sunset date, soonest first, in whole UTC days."
                          },
                          "warnings": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "description": "Usually a piece of usage data that was not supplied, and the severity we refused to lower because of it."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "check": {
                    "type": "object",
                    "required": [
                      "integrationId",
                      "provider",
                      "previous",
                      "current"
                    ],
                    "properties": {
                      "integrationId": {
                        "type": "string",
                        "description": "Your identifier for the integration. Echoed back; nothing is stored."
                      },
                      "provider": {
                        "type": "string"
                      },
                      "previous": {
                        "type": "object",
                        "properties": {
                          "capturedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the observation was taken. If both snapshots carry one, a reversed pair is refused."
                          },
                          "endpoints": {
                            "type": "array",
                            "maxItems": 40,
                            "items": {
                              "type": "object",
                              "required": [
                                "method",
                                "path"
                              ],
                              "properties": {
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "GET",
                                    "POST",
                                    "PUT",
                                    "PATCH",
                                    "DELETE",
                                    "HEAD",
                                    "OPTIONS"
                                  ]
                                },
                                "path": {
                                  "type": "string",
                                  "description": "Path template, e.g. \"/v2/customers/{id}\". \":id\" is accepted and treated as identical — parameter names are ignored when matching endpoints across snapshots."
                                },
                                "request": {
                                  "type": "array",
                                  "maxItems": 150,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Fields you SEND — body, query and path parameters, flattened. Outbound."
                                },
                                "response": {
                                  "type": "array",
                                  "maxItems": 150,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Fields you RECEIVE. Inbound."
                                },
                                "pagination": {
                                  "type": "object",
                                  "required": [
                                    "style"
                                  ],
                                  "properties": {
                                    "style": {
                                      "type": "string",
                                      "enum": [
                                        "none",
                                        "page",
                                        "offset",
                                        "cursor",
                                        "link_header"
                                      ]
                                    },
                                    "parameter": {
                                      "type": "string",
                                      "description": "Request parameter carrying the page, offset or cursor. Outbound."
                                    },
                                    "nextField": {
                                      "type": "string",
                                      "description": "Response field carrying the next page or cursor. Inbound."
                                    },
                                    "maxPageSize": {
                                      "type": "integer",
                                      "minimum": 1,
                                      "description": "Largest page the provider honours. A reduction is reported; an increase is not."
                                    }
                                  }
                                },
                                "deprecated": {
                                  "type": "boolean"
                                },
                                "sunsetOn": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Announced removal date. Compared in whole UTC days."
                                }
                              }
                            },
                            "description": "Omitting the key means \"not observed\" and skips endpoint drift entirely. An explicit [] means \"observed, and there are none\" — which does report every previous endpoint as removed."
                          },
                          "auth": {
                            "type": "object",
                            "required": [
                              "scheme"
                            ],
                            "properties": {
                              "scheme": {
                                "type": "string",
                                "enum": [
                                  "none",
                                  "api_key",
                                  "basic",
                                  "bearer",
                                  "oauth2",
                                  "hmac",
                                  "mtls"
                                ]
                              },
                              "requiredScopes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "maxItems": 64
                              },
                              "location": {
                                "type": "string",
                                "description": "Where the credential goes: a header name, or \"query:api_key\"."
                              },
                              "tokenLifetimeSeconds": {
                                "type": "integer",
                                "minimum": 1
                              }
                            }
                          },
                          "webhooks": {
                            "type": "array",
                            "maxItems": 30,
                            "items": {
                              "type": "object",
                              "required": [
                                "event"
                              ],
                              "properties": {
                                "event": {
                                  "type": "string",
                                  "description": "Event name, e.g. \"invoice.paid\". Identity across snapshots."
                                },
                                "payload": {
                                  "type": "array",
                                  "maxItems": 100,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Payload fields. Always inbound — you never write a webhook body."
                                },
                                "signatureAlgorithm": {
                                  "type": "string",
                                  "description": "e.g. \"hmac-sha256\". A change here breaks every verification you do."
                                },
                                "signatureHeader": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "rateLimit": {
                            "type": "object",
                            "required": [
                              "limit",
                              "windowSeconds"
                            ],
                            "properties": {
                              "limit": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "Requests permitted per window. A whole number; zero is a closed endpoint, not a rate limit."
                              },
                              "windowSeconds": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 2592000
                              },
                              "headers": {
                                "type": "object",
                                "properties": {
                                  "limit": {
                                    "type": "string"
                                  },
                                  "remaining": {
                                    "type": "string"
                                  },
                                  "reset": {
                                    "type": "string"
                                  }
                                },
                                "description": "Header names your client reads to self-throttle. A rename looks exactly like unlimited headroom."
                              }
                            }
                          }
                        }
                      },
                      "current": {
                        "type": "object",
                        "properties": {
                          "capturedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "When the observation was taken. If both snapshots carry one, a reversed pair is refused."
                          },
                          "endpoints": {
                            "type": "array",
                            "maxItems": 40,
                            "items": {
                              "type": "object",
                              "required": [
                                "method",
                                "path"
                              ],
                              "properties": {
                                "method": {
                                  "type": "string",
                                  "enum": [
                                    "GET",
                                    "POST",
                                    "PUT",
                                    "PATCH",
                                    "DELETE",
                                    "HEAD",
                                    "OPTIONS"
                                  ]
                                },
                                "path": {
                                  "type": "string",
                                  "description": "Path template, e.g. \"/v2/customers/{id}\". \":id\" is accepted and treated as identical — parameter names are ignored when matching endpoints across snapshots."
                                },
                                "request": {
                                  "type": "array",
                                  "maxItems": 150,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Fields you SEND — body, query and path parameters, flattened. Outbound."
                                },
                                "response": {
                                  "type": "array",
                                  "maxItems": 150,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Fields you RECEIVE. Inbound."
                                },
                                "pagination": {
                                  "type": "object",
                                  "required": [
                                    "style"
                                  ],
                                  "properties": {
                                    "style": {
                                      "type": "string",
                                      "enum": [
                                        "none",
                                        "page",
                                        "offset",
                                        "cursor",
                                        "link_header"
                                      ]
                                    },
                                    "parameter": {
                                      "type": "string",
                                      "description": "Request parameter carrying the page, offset or cursor. Outbound."
                                    },
                                    "nextField": {
                                      "type": "string",
                                      "description": "Response field carrying the next page or cursor. Inbound."
                                    },
                                    "maxPageSize": {
                                      "type": "integer",
                                      "minimum": 1,
                                      "description": "Largest page the provider honours. A reduction is reported; an increase is not."
                                    }
                                  }
                                },
                                "deprecated": {
                                  "type": "boolean"
                                },
                                "sunsetOn": {
                                  "type": "string",
                                  "format": "date",
                                  "description": "Announced removal date. Compared in whole UTC days."
                                }
                              }
                            },
                            "description": "Omitting the key means \"not observed\" and skips endpoint drift entirely. An explicit [] means \"observed, and there are none\" — which does report every previous endpoint as removed."
                          },
                          "auth": {
                            "type": "object",
                            "required": [
                              "scheme"
                            ],
                            "properties": {
                              "scheme": {
                                "type": "string",
                                "enum": [
                                  "none",
                                  "api_key",
                                  "basic",
                                  "bearer",
                                  "oauth2",
                                  "hmac",
                                  "mtls"
                                ]
                              },
                              "requiredScopes": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                },
                                "maxItems": 64
                              },
                              "location": {
                                "type": "string",
                                "description": "Where the credential goes: a header name, or \"query:api_key\"."
                              },
                              "tokenLifetimeSeconds": {
                                "type": "integer",
                                "minimum": 1
                              }
                            }
                          },
                          "webhooks": {
                            "type": "array",
                            "maxItems": 30,
                            "items": {
                              "type": "object",
                              "required": [
                                "event"
                              ],
                              "properties": {
                                "event": {
                                  "type": "string",
                                  "description": "Event name, e.g. \"invoice.paid\". Identity across snapshots."
                                },
                                "payload": {
                                  "type": "array",
                                  "maxItems": 100,
                                  "items": {
                                    "type": "object",
                                    "required": [
                                      "path",
                                      "type",
                                      "required"
                                    ],
                                    "properties": {
                                      "path": {
                                        "type": "string",
                                        "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                      },
                                      "type": {
                                        "type": "string",
                                        "enum": [
                                          "string",
                                          "integer",
                                          "number",
                                          "boolean",
                                          "object",
                                          "array",
                                          "any"
                                        ]
                                      },
                                      "required": {
                                        "type": "boolean",
                                        "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                      },
                                      "nullable": {
                                        "type": "boolean",
                                        "description": "Defaults to false. On a response, true means your reader must null-check."
                                      },
                                      "enumValues": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        },
                                        "maxItems": 60,
                                        "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                      }
                                    }
                                  },
                                  "description": "Payload fields. Always inbound — you never write a webhook body."
                                },
                                "signatureAlgorithm": {
                                  "type": "string",
                                  "description": "e.g. \"hmac-sha256\". A change here breaks every verification you do."
                                },
                                "signatureHeader": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "rateLimit": {
                            "type": "object",
                            "required": [
                              "limit",
                              "windowSeconds"
                            ],
                            "properties": {
                              "limit": {
                                "type": "integer",
                                "minimum": 1,
                                "description": "Requests permitted per window. A whole number; zero is a closed endpoint, not a rate limit."
                              },
                              "windowSeconds": {
                                "type": "integer",
                                "minimum": 1,
                                "maximum": 2592000
                              },
                              "headers": {
                                "type": "object",
                                "properties": {
                                  "limit": {
                                    "type": "string"
                                  },
                                  "remaining": {
                                    "type": "string"
                                  },
                                  "reset": {
                                    "type": "string"
                                  }
                                },
                                "description": "Header names your client reads to self-throttle. A rename looks exactly like unlimited headroom."
                              }
                            }
                          }
                        }
                      },
                      "usage": {
                        "type": "object",
                        "properties": {
                          "heldScopes": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 256,
                            "description": "Scopes your stored token actually holds. Without it, a newly required scope is breaking."
                          },
                          "subscribedEvents": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            },
                            "maxItems": 256,
                            "description": "Webhook events you subscribe to. Without it, a withdrawn event is breaking."
                          },
                          "observedVolume": {
                            "type": "object",
                            "required": [
                              "requests",
                              "windowSeconds"
                            ],
                            "properties": {
                              "requests": {
                                "type": "integer",
                                "minimum": 0
                              },
                              "windowSeconds": {
                                "type": "integer",
                                "minimum": 1
                              }
                            },
                            "description": "Traffic you actually send. Without it, a reduced rate limit is degraded rather than safe."
                          }
                        }
                      },
                      "metadata": {
                        "type": "object"
                      }
                    }
                  },
                  "checks": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 50,
                    "items": {
                      "type": "object",
                      "required": [
                        "integrationId",
                        "provider",
                        "previous",
                        "current"
                      ],
                      "properties": {
                        "integrationId": {
                          "type": "string",
                          "description": "Your identifier for the integration. Echoed back; nothing is stored."
                        },
                        "provider": {
                          "type": "string"
                        },
                        "previous": {
                          "type": "object",
                          "properties": {
                            "capturedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When the observation was taken. If both snapshots carry one, a reversed pair is refused."
                            },
                            "endpoints": {
                              "type": "array",
                              "maxItems": 40,
                              "items": {
                                "type": "object",
                                "required": [
                                  "method",
                                  "path"
                                ],
                                "properties": {
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "GET",
                                      "POST",
                                      "PUT",
                                      "PATCH",
                                      "DELETE",
                                      "HEAD",
                                      "OPTIONS"
                                    ]
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "Path template, e.g. \"/v2/customers/{id}\". \":id\" is accepted and treated as identical — parameter names are ignored when matching endpoints across snapshots."
                                  },
                                  "request": {
                                    "type": "array",
                                    "maxItems": 150,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Fields you SEND — body, query and path parameters, flattened. Outbound."
                                  },
                                  "response": {
                                    "type": "array",
                                    "maxItems": 150,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Fields you RECEIVE. Inbound."
                                  },
                                  "pagination": {
                                    "type": "object",
                                    "required": [
                                      "style"
                                    ],
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "enum": [
                                          "none",
                                          "page",
                                          "offset",
                                          "cursor",
                                          "link_header"
                                        ]
                                      },
                                      "parameter": {
                                        "type": "string",
                                        "description": "Request parameter carrying the page, offset or cursor. Outbound."
                                      },
                                      "nextField": {
                                        "type": "string",
                                        "description": "Response field carrying the next page or cursor. Inbound."
                                      },
                                      "maxPageSize": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "description": "Largest page the provider honours. A reduction is reported; an increase is not."
                                      }
                                    }
                                  },
                                  "deprecated": {
                                    "type": "boolean"
                                  },
                                  "sunsetOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Announced removal date. Compared in whole UTC days."
                                  }
                                }
                              },
                              "description": "Omitting the key means \"not observed\" and skips endpoint drift entirely. An explicit [] means \"observed, and there are none\" — which does report every previous endpoint as removed."
                            },
                            "auth": {
                              "type": "object",
                              "required": [
                                "scheme"
                              ],
                              "properties": {
                                "scheme": {
                                  "type": "string",
                                  "enum": [
                                    "none",
                                    "api_key",
                                    "basic",
                                    "bearer",
                                    "oauth2",
                                    "hmac",
                                    "mtls"
                                  ]
                                },
                                "requiredScopes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 64
                                },
                                "location": {
                                  "type": "string",
                                  "description": "Where the credential goes: a header name, or \"query:api_key\"."
                                },
                                "tokenLifetimeSeconds": {
                                  "type": "integer",
                                  "minimum": 1
                                }
                              }
                            },
                            "webhooks": {
                              "type": "array",
                              "maxItems": 30,
                              "items": {
                                "type": "object",
                                "required": [
                                  "event"
                                ],
                                "properties": {
                                  "event": {
                                    "type": "string",
                                    "description": "Event name, e.g. \"invoice.paid\". Identity across snapshots."
                                  },
                                  "payload": {
                                    "type": "array",
                                    "maxItems": 100,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Payload fields. Always inbound — you never write a webhook body."
                                  },
                                  "signatureAlgorithm": {
                                    "type": "string",
                                    "description": "e.g. \"hmac-sha256\". A change here breaks every verification you do."
                                  },
                                  "signatureHeader": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "rateLimit": {
                              "type": "object",
                              "required": [
                                "limit",
                                "windowSeconds"
                              ],
                              "properties": {
                                "limit": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "description": "Requests permitted per window. A whole number; zero is a closed endpoint, not a rate limit."
                                },
                                "windowSeconds": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 2592000
                                },
                                "headers": {
                                  "type": "object",
                                  "properties": {
                                    "limit": {
                                      "type": "string"
                                    },
                                    "remaining": {
                                      "type": "string"
                                    },
                                    "reset": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "Header names your client reads to self-throttle. A rename looks exactly like unlimited headroom."
                                }
                              }
                            }
                          }
                        },
                        "current": {
                          "type": "object",
                          "properties": {
                            "capturedAt": {
                              "type": "string",
                              "format": "date-time",
                              "description": "When the observation was taken. If both snapshots carry one, a reversed pair is refused."
                            },
                            "endpoints": {
                              "type": "array",
                              "maxItems": 40,
                              "items": {
                                "type": "object",
                                "required": [
                                  "method",
                                  "path"
                                ],
                                "properties": {
                                  "method": {
                                    "type": "string",
                                    "enum": [
                                      "GET",
                                      "POST",
                                      "PUT",
                                      "PATCH",
                                      "DELETE",
                                      "HEAD",
                                      "OPTIONS"
                                    ]
                                  },
                                  "path": {
                                    "type": "string",
                                    "description": "Path template, e.g. \"/v2/customers/{id}\". \":id\" is accepted and treated as identical — parameter names are ignored when matching endpoints across snapshots."
                                  },
                                  "request": {
                                    "type": "array",
                                    "maxItems": 150,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Fields you SEND — body, query and path parameters, flattened. Outbound."
                                  },
                                  "response": {
                                    "type": "array",
                                    "maxItems": 150,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Fields you RECEIVE. Inbound."
                                  },
                                  "pagination": {
                                    "type": "object",
                                    "required": [
                                      "style"
                                    ],
                                    "properties": {
                                      "style": {
                                        "type": "string",
                                        "enum": [
                                          "none",
                                          "page",
                                          "offset",
                                          "cursor",
                                          "link_header"
                                        ]
                                      },
                                      "parameter": {
                                        "type": "string",
                                        "description": "Request parameter carrying the page, offset or cursor. Outbound."
                                      },
                                      "nextField": {
                                        "type": "string",
                                        "description": "Response field carrying the next page or cursor. Inbound."
                                      },
                                      "maxPageSize": {
                                        "type": "integer",
                                        "minimum": 1,
                                        "description": "Largest page the provider honours. A reduction is reported; an increase is not."
                                      }
                                    }
                                  },
                                  "deprecated": {
                                    "type": "boolean"
                                  },
                                  "sunsetOn": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Announced removal date. Compared in whole UTC days."
                                  }
                                }
                              },
                              "description": "Omitting the key means \"not observed\" and skips endpoint drift entirely. An explicit [] means \"observed, and there are none\" — which does report every previous endpoint as removed."
                            },
                            "auth": {
                              "type": "object",
                              "required": [
                                "scheme"
                              ],
                              "properties": {
                                "scheme": {
                                  "type": "string",
                                  "enum": [
                                    "none",
                                    "api_key",
                                    "basic",
                                    "bearer",
                                    "oauth2",
                                    "hmac",
                                    "mtls"
                                  ]
                                },
                                "requiredScopes": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  },
                                  "maxItems": 64
                                },
                                "location": {
                                  "type": "string",
                                  "description": "Where the credential goes: a header name, or \"query:api_key\"."
                                },
                                "tokenLifetimeSeconds": {
                                  "type": "integer",
                                  "minimum": 1
                                }
                              }
                            },
                            "webhooks": {
                              "type": "array",
                              "maxItems": 30,
                              "items": {
                                "type": "object",
                                "required": [
                                  "event"
                                ],
                                "properties": {
                                  "event": {
                                    "type": "string",
                                    "description": "Event name, e.g. \"invoice.paid\". Identity across snapshots."
                                  },
                                  "payload": {
                                    "type": "array",
                                    "maxItems": 100,
                                    "items": {
                                      "type": "object",
                                      "required": [
                                        "path",
                                        "type",
                                        "required"
                                      ],
                                      "properties": {
                                        "path": {
                                          "type": "string",
                                          "description": "Dotted path inside the object, e.g. \"customer.address.postcode\"."
                                        },
                                        "type": {
                                          "type": "string",
                                          "enum": [
                                            "string",
                                            "integer",
                                            "number",
                                            "boolean",
                                            "object",
                                            "array",
                                            "any"
                                          ]
                                        },
                                        "required": {
                                          "type": "boolean",
                                          "description": "On a request: the provider rejects the call without it. On a response: the provider guarantees it is present. Never defaulted — this flag is what separates a breaking change from a free one."
                                        },
                                        "nullable": {
                                          "type": "boolean",
                                          "description": "Defaults to false. On a response, true means your reader must null-check."
                                        },
                                        "enumValues": {
                                          "type": "array",
                                          "items": {
                                            "type": "string"
                                          },
                                          "maxItems": 60,
                                          "description": "The complete permitted set. Omitting it means unconstrained, which is not the same as an empty list — and the difference is a real drift signal in both directions."
                                        }
                                      }
                                    },
                                    "description": "Payload fields. Always inbound — you never write a webhook body."
                                  },
                                  "signatureAlgorithm": {
                                    "type": "string",
                                    "description": "e.g. \"hmac-sha256\". A change here breaks every verification you do."
                                  },
                                  "signatureHeader": {
                                    "type": "string"
                                  }
                                }
                              }
                            },
                            "rateLimit": {
                              "type": "object",
                              "required": [
                                "limit",
                                "windowSeconds"
                              ],
                              "properties": {
                                "limit": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "description": "Requests permitted per window. A whole number; zero is a closed endpoint, not a rate limit."
                                },
                                "windowSeconds": {
                                  "type": "integer",
                                  "minimum": 1,
                                  "maximum": 2592000
                                },
                                "headers": {
                                  "type": "object",
                                  "properties": {
                                    "limit": {
                                      "type": "string"
                                    },
                                    "remaining": {
                                      "type": "string"
                                    },
                                    "reset": {
                                      "type": "string"
                                    }
                                  },
                                  "description": "Header names your client reads to self-throttle. A rename looks exactly like unlimited headroom."
                                }
                              }
                            }
                          }
                        },
                        "usage": {
                          "type": "object",
                          "properties": {
                            "heldScopes": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "maxItems": 256,
                              "description": "Scopes your stored token actually holds. Without it, a newly required scope is breaking."
                            },
                            "subscribedEvents": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "maxItems": 256,
                              "description": "Webhook events you subscribe to. Without it, a withdrawn event is breaking."
                            },
                            "observedVolume": {
                              "type": "object",
                              "required": [
                                "requests",
                                "windowSeconds"
                              ],
                              "properties": {
                                "requests": {
                                  "type": "integer",
                                  "minimum": 0
                                },
                                "windowSeconds": {
                                  "type": "integer",
                                  "minimum": 1
                                }
                              },
                              "description": "Traffic you actually send. Without it, a reduced rate limit is degraded rather than safe."
                            }
                          }
                        },
                        "metadata": {
                          "type": "object"
                        }
                      }
                    }
                  }
                }
              },
              "example": {
                "check": {
                  "integrationId": "acme-payments-prod",
                  "provider": "northwind-payments",
                  "previous": {
                    "capturedAt": "2026-05-01T00:00:00Z",
                    "endpoints": [
                      {
                        "method": "POST",
                        "path": "/v1/charges",
                        "request": [
                          {
                            "path": "amount",
                            "type": "integer",
                            "required": true
                          },
                          {
                            "path": "currency",
                            "type": "string",
                            "required": true,
                            "enumValues": [
                              "USD",
                              "EUR",
                              "GBP"
                            ]
                          },
                          {
                            "path": "idempotency_key",
                            "type": "string",
                            "required": false
                          }
                        ],
                        "response": [
                          {
                            "path": "id",
                            "type": "string",
                            "required": true
                          },
                          {
                            "path": "status",
                            "type": "string",
                            "required": true,
                            "enumValues": [
                              "pending",
                              "succeeded",
                              "failed"
                            ]
                          },
                          {
                            "path": "receipt_url",
                            "type": "string",
                            "required": true
                          }
                        ]
                      }
                    ],
                    "auth": {
                      "scheme": "oauth2",
                      "requiredScopes": [
                        "charges:write"
                      ],
                      "tokenLifetimeSeconds": 3600
                    },
                    "webhooks": [
                      {
                        "event": "charge.succeeded",
                        "payload": [
                          {
                            "path": "id",
                            "type": "string",
                            "required": true
                          },
                          {
                            "path": "amount",
                            "type": "integer",
                            "required": true
                          }
                        ],
                        "signatureAlgorithm": "hmac-sha256",
                        "signatureHeader": "X-Signature"
                      }
                    ],
                    "rateLimit": {
                      "limit": 1000,
                      "windowSeconds": 60,
                      "headers": {
                        "limit": "X-RateLimit-Limit",
                        "remaining": "X-RateLimit-Remaining"
                      }
                    }
                  },
                  "current": {
                    "capturedAt": "2026-08-01T00:00:00Z",
                    "endpoints": [
                      {
                        "method": "POST",
                        "path": "/v1/charges",
                        "request": [
                          {
                            "path": "amount",
                            "type": "integer",
                            "required": true
                          },
                          {
                            "path": "currency",
                            "type": "string",
                            "required": true,
                            "enumValues": [
                              "USD",
                              "EUR"
                            ]
                          },
                          {
                            "path": "idempotency_key",
                            "type": "string",
                            "required": true
                          },
                          {
                            "path": "statement_descriptor",
                            "type": "string",
                            "required": true
                          }
                        ],
                        "response": [
                          {
                            "path": "id",
                            "type": "string",
                            "required": true
                          },
                          {
                            "path": "status",
                            "type": "string",
                            "required": true,
                            "enumValues": [
                              "pending",
                              "succeeded",
                              "failed",
                              "requires_action"
                            ]
                          },
                          {
                            "path": "receiptUrl",
                            "type": "string",
                            "required": true
                          },
                          {
                            "path": "network_code",
                            "type": "string",
                            "required": false
                          }
                        ]
                      }
                    ],
                    "auth": {
                      "scheme": "oauth2",
                      "requiredScopes": [
                        "charges:write",
                        "charges:read"
                      ],
                      "tokenLifetimeSeconds": 900
                    },
                    "webhooks": [
                      {
                        "event": "charge.succeeded",
                        "payload": [
                          {
                            "path": "id",
                            "type": "string",
                            "required": true
                          }
                        ],
                        "signatureAlgorithm": "hmac-sha256",
                        "signatureHeader": "X-Signature"
                      }
                    ],
                    "rateLimit": {
                      "limit": 600,
                      "windowSeconds": 60,
                      "headers": {
                        "limit": "RateLimit-Limit",
                        "remaining": "RateLimit-Remaining"
                      }
                    }
                  },
                  "usage": {
                    "heldScopes": [
                      "charges:write"
                    ],
                    "subscribedEvents": [
                      "charge.succeeded"
                    ],
                    "observedVolume": {
                      "requests": 800,
                      "windowSeconds": 60
                    }
                  }
                }
              }
            }
          }
        },
        "x-quota-cost": 0
      }
    },
    "/v1/demo/check": {
      "post": {
        "summary": "Public demo — one drift check without a key",
        "description": "The same engine the paid endpoint runs, capped at 5 endpoints per snapshot and 60 fields across the whole check. Nothing is stored, nothing is metered.",
        "operationId": "postV1DemoCheck",
        "security": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "check": {
                      "type": "object",
                      "properties": {
                        "integrationId": {
                          "type": "string"
                        },
                        "provider": {
                          "type": "string"
                        },
                        "verdict": {
                          "type": "string",
                          "enum": [
                            "compatible",
                            "degraded",
                            "broken"
                          ]
                        },
                        "summary": {
                          "type": "object",
                          "description": "Totals by severity, plus counts by code and by surface."
                        },
                        "changes": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "code": {
                                "type": "string",
                                "description": "Stable drift code. GET /v1/drift-types lists every one with its per-direction severity."
                              },
                              "surface": {
                                "type": "string",
                                "enum": [
                                  "endpoint",
                                  "request",
                                  "response",
                                  "auth",
                                  "webhook",
                                  "rate_limit",
                                  "pagination"
                                ]
                              },
                              "direction": {
                                "type": "string",
                                "enum": [
                                  "outbound",
                                  "inbound"
                                ],
                                "description": "outbound: your client produces the value. inbound: the provider does. The same code flips severity between them."
                              },
                              "target": {
                                "type": "string",
                                "description": "The field path, scope, event name or endpoint the change lands on."
                              },
                              "container": {
                                "type": "string",
                                "description": "An endpoint label like \"POST /v2/orders\", a webhook event name, or null for auth and rate limits."
                              },
                              "breaking": {
                                "type": "boolean",
                                "description": "Equivalent to severity === \"breaking\". Branch on this."
[...]
